body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/041/867/original/background.jpg?1658931472");
  background-size: 1366px 770px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #45204c;
}

h1 {
  font-family: "Knewave", cursive;
}
.current-temperature {
  font-family: "Knewave", cursive;
  font-size: 70px;
  padding: 10px;
}
.units {
  font-size: 16px;
  position: relative;
  top: -45px;
  padding: 0px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
  font-size: 30px;
}
.active:hover {
  color: rgb(33, 33, 33);
}
a {
  text-decoration: none;
  color: #f300aa;
}
div {
  font-family: "Pacifico", cursive;
}
.day-detail {
  list-style-type: none;
  padding-left: 5px;
}
.container {
  text-align: center;
  width: 600px;
  padding: 12px;
  margin-top: 50px;
  background-color: var(--bs-body-bg);
  position: absolute;
  top: 132px;
  left: 361px;
  --borderWidth: 3px;
  background: #feffff;
  border-radius: var(--borderWidth);
}
.container:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-control form-control-sm {
  border: 1px solid #000000;
  border-radius: 10px;
}
#searchPosition {
  padding: 0;
  border: none;
  background: none;
  margin-left: none;
}
#signature {
  text-align: center;
}
video {
  width: 85px;
  height: 120px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 363px;
  left: 1102px;
  background: rgb(24, 23, 23);
  opacity: 0.99;
}
.card-title {
  margin-bottom: 0px;
  font-size: 14px;
}
.card-text {
  margin-bottom: 0px;
  padding: 0px;
}
.col {
  padding: 1px;
  width: 100px;
}
#icon {
  width: 68px;
  padding-left: 20px;
}
.card-body {
  padding: 5px;
}
