body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/639/original/Cloudy.jpg?1657109857");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Knewave", cursive;
}
.current-temperature {
  font-family: "Knewave", cursive;
  font-size: 100px;
  padding: 10px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -45px;
  padding: 0px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
  font-size: 40px;
}
a {
  text-decoration: none;
}

.active:hover {
  color: rgb(33, 33, 33);
}
div {
  font-family: "Pacifico", cursive;
}

.day-detail {
  list-style-type: none;
}
.container {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  margin-top: 100px;
  background-color: var(--bs-body-bg);
  opacity: 0.7;
}
.form-control form-control-sm {
  border: 1px solid #000000;
  border-radius: 10px;
}
#searchPosition {
  padding: 0;
  border: none;
  background: none;
  margin-left: none;
}
#signature {
  text-align: center;
}
